{{ 'flickity.min.css' | asset_url | stylesheet_tag }}
{{ 'featured-collection-slider.css' | asset_url | stylesheet_tag }}

{% assign ss = section.settings %}

<div class="carousel-ctn page-width" id="{{ section.id }}">
    <h2 class="section-heading roboto-medium">{{ ss.heading | default: ss.collection.title }}</h2>
    <flickity-carousel class="carousel"
        data-autoplay="{{ ss.autoplay }}"
        data-speed="{{ ss.autoplay_speed }}"
        data-pause="{{ ss.pause_on_hover }}"
        data-wrap="{{ ss.wraparound }}"
    >
        {% assign collection_handle = ss.collection %}
        {% assign collection = collections[collection_handle] %}

        {% if collection and collection.products.size > 0 %}
            {% for product in collection.products %}
                <div class="carousel-cell col-dt-{{ ss.number_slider_desktop }}">
                    <div class="slider-card">
                        <a href="{{ product.url }}">
                            <!-- Product Image -->
                            {{ product.featured_image | image_url: width: 1000 | image_tag: class: 'card-image' }}
                        </a>

                        <!-- Product Title -->
                        <h3 class="product-title montserrat-medium">{{ product.title }}</h3>

                        <!-- Product Description -->
                        <p class="product-description roboto-light">
                            {{ product.description | strip_html }}
                        </p>

                        <!-- Product Flavour -->
                        <p class="product-flavour roboto-medium">
                            Flavour: {{ product.metafields.global.flavour  }}
                        </p>

                        <!-- Add to Cart -->
                        <button class="add-to-cart-btn roboto-medium" data-variant-id="{{ product.selected_or_first_available_variant.id }}">Add to Cart</button>
                        
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Please select an active collection</p>
        {% endif %}
    </flickity-carousel>
</div>
<div id="toast-container" class="toast-container"></div>

<script src="{{ 'flickity.pkgd.min.js' | asset_url }}" async></script>
<script src="{{ 'featured-collection-slider.js' | asset_url }}" async></script>

{% style %}
    #{{ section.id }} > .section-heading {
        font-size: {{  ss.heading_size }}px;
    }
    #{{ section.id }} {
        margin-top:{{ ss.margin_top }}px;
        margin-bottom:{{ ss.margin_bottom }}px;
    }
{% endstyle %}

{% schema %}
{
  "name": "Slider",
  "tag": "section",
  "class": "featured-collection-slider",
  "settings": [
    {
        "type": "header",
        "content": "Section Heading"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "The Donut Range",
        "info": "Leave blank to use the collection title"
    },
    {
        "type": "range",
        "id": "heading_size",
        "label": "Size",
        "min": 16,
        "max": 64,
        "step": 1,
        "default": 48,
        "unit": "px"
    },
    {
        "type": "header",
        "content": "Collection"
    },
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    },
    {
        "type": "header",
        "content": "Slider`"
    },
    {
        "type": "range",
        "id": "number_slider_desktop",
        "label": "Number of Slides (Desktop)",
        "min": 3,
        "max": 6,
        "step": 1,
        "default": 4,
    },
    {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": false
    },
    {
        "type": "range",
        "id": "autoplay_speed",
        "label": "Autoplay Speed",
        "min": 1,
        "max": 10,
        "step": 1,
        "default": 3,
        "unit": "s",
    },
    {
        "type": "checkbox",
        "id": "pause_on_hover",
        "label": "Pause on Hover",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "wraparound",
        "label": "Infinite scroll",
        "default": true
    },
    {
        "type": "header",
        "content": "Margin"
    },
    {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px",
        "label": "Margin top",
        "default": 0
    },
    {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
    }
  ],
  "presets": [
    {
      "name": "Featured Collection Slider"
    }
  ]
}
{% endschema %}